@import 'styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: 6em;
	max-width: 1200px;
	padding: 10em 2em;
	overflow: hidden;

	& h1 {
		font-family: Fauna;
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 3.8rem;
		letter-spacing: 0.04em;
		color: $main-colour-2;
	}
}

.projects_card__wrapper {
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(2, 1fr);
}

.project_card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	box-shadow: 0 0 0.04rem 0 rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	background-color: rgba(52, 73, 94, 0.45);
}
.project_card:first-child {
	grid-row: span 2;
	width: 600px;
}

.project {
	display: flex;
	gap: 2em;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h2 {
		font-size: 20px;
		text-transform: capitalize;
		text-align: center;
		color: white;
	}

	& p {
		font-size: 16px;
		letter-spacing: 1.5px;
		line-height: 22px;
		text-align: center;
		color: whitesmoke;
	}

	& .project_navigation {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		position: relative;
		box-shadow: 0 0 0.04rem 0 rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		background-color: rgba(52, 73, 94, 0.45);

		& .animation {
			position: absolute;
			height: 100%;
			top: 0;
			z-index: 0;
			transition: all 0.5s ease 0s;
			border-radius: 5px;
		}

		& a {
			z-index: 1;
			height: 100%;
			padding: 16px;
			border-radius: 5px;
			text-align: center;
			text-transform: uppercase;
			color: white;
			cursor: pointer;
		}

		& a:nth-child(1) {
			width: 100%;
		}
		& a:nth-child(2) {
			width: 100%;
		}

		& a:nth-child(1):hover ~ .animation {
			width: 50%;
			left: 0;
			background: $secondary-colour-1;
		}
		& a:nth-child(2):hover ~ .animation {
			width: 50%;
			left: 50%;
			background: $secondary-colour-2;
		}
	}
}

@media (max-width: 1200px) {
	.projects_card__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.project_card:first-child {
		grid-row: span 2;
		width: auto;
	}
}

@media (max-width: 850px) {
	.projects_card__wrapper {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 600px) {
	.container{
		padding: 10em 0.5em;;
	}
}
