.container {
	display: flex;
	flex-direction: column;
	gap: 2em;
	justify-content: center;
	padding: 8em 2em;
	//width: 100%;
	max-width: 940px;
	//min-width: 70vw;
	min-height: 100vh;
	//overflow: hidden;

	.header {
		display: flex;
		align-items: baseline;
		gap: 2em;

		& h1 {
			color: white;
		}

		& p {
			text-transform: uppercase;
			font-size: 1.2rem;
			background: linear-gradient(
				-90deg,
				#ff9100 0%,
				#f10366 50%,
				#6173ff 100%
			);
			background-size: cover;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}
