.container {
	position: fixed;
	left: 0;
	top: 0;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 10;
	//background-image: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.2));

	.navigation {
		margin: auto;
		display: flex;
		justify-content: flex-end;
		gap: 2em;

		.link {
			color: whitesmoke;
			text-transform: uppercase;
			padding: 0.2rem;
			border-bottom: 2px solid transparent;
			transition: all 0.5s ease-out;
		}

		.link:hover {
			border-bottom: 2px solid orange;
		}
	}
}
