@import 'styles/variables.module.scss';

.container {
	display: flex;
	gap: 2em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	padding: 10em 2em;

	.resource__body {
		display: flex;
		gap: 2em;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& h1 {
			color: $main-colour-2;
			font-family: Fauna;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 3.8rem;
			letter-spacing: 0.04em;
		}

		& p {
			color: whitesmoke;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 3.8rem;
			letter-spacing: 0.04em;
		}

		& .resource__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100vw;
			height: 50vh;
			box-shadow: 0 0 0.04rem 0 rgba(255, 255, 255, 0.2);
			border-radius: 5px;
			background-color: rgba(52, 73, 94, 0.45);
		}
	}

	.resource__link {
		color: rgba(245, 245, 245, 0.438);
		font-weight: 700;
		font-size: 1rem;
		line-height: 3.8rem;
		letter-spacing: 0.04em;
	}

	.resource__link:hover {
		color: $main-colour-2;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 10em 0.5em;
	}

	.resource__body {
		& h1 {
			text-align: center;
		}
	} 
}
