@import 'styles/variables.module.scss';

.hero_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4em 2em;
	gap: 32px;
}

.hero_header {
	display: flex;
	flex-direction: column;
	gap: 2em;
	width: 50%;

	& h1 {
		font-family: Fauna;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2.8rem;
		line-height: 3.8rem;
		letter-spacing: 0.04em;
	}
	& p {
		font-size: 1.4rem;
		line-height: 2.2rem;
		letter-spacing: 0.04em;
	}

	& h1,
	& p {
		color: white;
	}

	& span {
		color: $main-colour-2;
	}
}

.hero_image__wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	& .hero_image {
		width: 50px;
		height: 50px;
	}
}



@keyframes hero-image-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.hero_image {
		animation: hero-image-spin infinite 20s linear;
	}
}

@media (max-width: 850px) {
	.hero_header {
		width: 100%;
	}
	
	.hero_image__wrapper {
		display: none;
	}
}

@media (max-width: 1200px) {
	.hero_header {
		& h1 {
			font-size: 2rem;
		}
		& p {
			font-size: 1rem;
		}
	}
}

@media (max-width: 450px) {
	.hero_header {
		align-items: center;
		& h1 {
			text-align: center;
		}
		& p {
			text-align: center;
		}
	}
}
