@import 'styles/variables.module.scss';

.layout_container {
	min-height: 100vh;
	//padding: 0 128px;
	overflow: hidden;
	background: black;
}

// .gradient__background {
// 	/* ff 3.6+ */
// 	background: -moz-radial-gradient(
// 		circle at 3% 25%,
// 		rgba(26, 32, 35, 1) 0%,
// 		rgba(40, 55, 79, 1) 100%
// 	);

// 	/* safari 5.1+,chrome 10+ */
// 	background: -webkit-radial-gradient(
// 		circle at 3% 25%,
// 		rgba(26, 32, 35, 1) 0%,
// 		rgba(40, 55, 79, 1) 100%
// 	);

// 	/* opera 11.10+ */
// 	background: -o-radial-gradient(
// 		circle at 3% 25%,
// 		rgba(26, 32, 35, 1) 0%,
// 		rgba(40, 55, 79, 1) 100%
// 	);

// 	/* ie 10+ */
// 	background: -ms-radial-gradient(
// 		circle at 3% 25%,
// 		rgba(26, 32, 35, 1) 0%,
// 		rgba(40, 55, 79, 1) 100%
// 	);

// 	/* global 92%+ browsers support */
// 	background: radial-gradient(
// 		circle at 3% 25%,
// 		rgba(26, 32, 35, 1) 0%,
// 		rgba(40, 55, 79, 1) 100%
// 	);
// }

