@import 'styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	z-index: 1;

	.nav {
		color: white;
		display: flex;
		gap: 2em;
		justify-content: center;
		align-items: center;
		height: 10vh;
		width: 100%;
	}
}
