@import 'styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 1200px;
	padding: 10em 2em;
	overflow: hidden;
	

	& h1 {
		font-family: Fauna;
		text-transform: uppercase;
		color: $main-colour-2;
	}
}

.skills_wrapper {
	display: grid;
	gap: 1.5em;
	grid-template-columns: 1fr;
	grid-auto-columns: 1fr;
	color: whitesmoke;
	grid-template-areas:
	'one'
	'two'
	'three'
	'four'
	'five';



	& .skills_category {
		display: flex;
		flex-direction: column;
		gap: 2em;
		padding: 22px;
		box-shadow: 0 0 0.04rem 0 rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		backdrop-filter: blur(15px) saturate(180%);
		-webkit-backdrop-filter: blur(15px) saturate(180%);
		background-color: rgba(150, 145, 145, 0.3);
		border-radius: 5px;
		border: 1px solid rgba(209, 213, 219, 0.3);


		& h2 {
			font-size: 20px;
			text-transform: capitalize;
			text-align: center;
		}
		& p {
			font-size: 16px;
			letter-spacing: 1.5px;
			line-height: 22px;
			text-align: center;
			color: whitesmoke;
		}
	}



	& .skills_item__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px 0;
		font-size: 32px;
		color: whitesmoke;
		padding-top: 16px;

		& .skills_item__tooltip {
			position: relative;
			display: flex;
			justify-content: center;
		}

		& .skills_item__tooltip .skills_item__tooltiptext {
			visibility: hidden;
			background-color: rgba(0, 0, 0, 0.4);
			color: whitesmoke;
			text-align: center;
			border-radius: 5px;
			padding: 5px;
			margin-top: 40px;

			/* Position the tooltip */
			position: absolute;
			border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
			z-index: 1;
		}

		& .skills_item__tooltip .skills_item__tooltiptext::after {
			content: '';
			position: absolute;
			bottom: 100%; /* At the top of the tooltip */
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
		}

		& .skills_item__tooltip:hover .skills_item__tooltiptext {
			visibility: visible;
		}
	}
}

.skills_category:nth-child(1) {
	grid-area: one;
  }
.skills_category:nth-child(2) {
	grid-area: two;
  }
.skills_category:nth-child(3) {
	grid-area: three;
  }
.skills_category:nth-child(4) {
	grid-area: four;
  }
  .skills_category:nth-child(5) {
	grid-area: five;
  }




@media screen and (min-width: 33em) {
	.skills_wrapper {
		grid-template-areas:
		"one one"
		"two three"
		"five five"
		"four four";
	}
  }
  
  @media screen and (min-width: 38em) {
	.skills_wrapper {
	  grid-template-areas:
	   'two two'
	   'one three'
	   'five three'
	   'four four';
	}
  }
  
  @media screen and (min-width: 54em) {
	.skills_wrapper {
		grid-template-areas:
		"one three three"
		"two two two"
		"four four five"
	}
  }
   
