@import 'styles/variables.module.scss';

.container {
	display: flex;
	gap: 4em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	background-color: rgba(52, 73, 94, 0.45);

	.footer_brand{
		display: flex;
		gap: 2em;

		.footer_logo{
			font-size: 2.8rem;
			cursor: pointer;
			color: $main-colour-2;
		}
	}

	.footer_nav {
		display: flex;
		align-items: center;
		gap: 2em;
	}

	.footer__link {
		font-size: 1.2rem;
		cursor: pointer;
		color: whitesmoke
	}

	.footer__link:hover{
		color: $main-colour-2
	}

	.footer_copyright {
		color: rgba(245, 245, 245, 0.37);
	}



}