@import 'styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: 6em;
	max-width: 1200px;
	padding: 10em 2em;
	overflow: hidden;
}

.experience_header {
	flex: 1;
	display: flex;
	gap: 2em;
	flex-direction: column;
	text-align: center;

	& h1 {
		font-family: Fauna;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 3.8rem;
		letter-spacing: 0.04em;
		color: $main-colour-2;
	}

	& p {
		font-size: 22px;
		color: whitesmoke;
	}
}

.experience_wrapper {
	flex: 1.5;
	display: flex;
	gap: 2em;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

@media (max-width: 600px) {
	.container {
		padding: 10em 0.5em;
	}
}
