@import 'styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	text-align: left;
	padding: 32px 0;
	border-radius: 5px;
	background-color: rgba(52, 73, 94, 0.45);

	& .footer_brand {
		display: flex;
		align-items: center;
		flex-direction: column;

		& .footer_logo {
			font-size: 2.2rem;
			cursor: pointer;
			color: $main-colour-2;
		}
		& p {
			color: $main-colour-2;
			font-style: italic;
		}
	}

	& .footer_links {
		& h4 {
			font-size: 18px;
			color: white;
		}
		& p {
			font-size: 14px;
			color: whitesmoke;
			cursor: pointer;
		}
	}

	.footer_copyright {
		text-align: center;
		width: 100%;

		& p {
			font-size: 14px;
			color: #fff;
		}
	}
}

@media (max-width: 1200px) {
}

@media (max-width: 450px) {
	.container {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		.footer_links {
			display: flex;
			align-items: baseline;
			justify-content: center;
			flex-wrap: wrap;
			gap: 12px;
		}
	}
}
