@import 'styles/variables.module.scss';

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: $main-colour-3;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
	background-color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: 'Fauna';
	src: url('/assets/fonts/fauna/Fauna.ttf');
	font-weight: 400;
	font-style: regular;
}

@media (max-width: 600px) {
}

/**
React-swiper styling
*/

.swiper-pagination-bullet {
	width: var(
		--swiper-pagination-bullet-width,
		var(--swiper-pagination-bullet-size, 8px)
	);
	height: var(
		--swiper-pagination-bullet-height,
		var(--swiper-pagination-bullet-size, 8px)
	);
	display: inline-block;
	border-radius: 50%;
	background: var(--swiper-pagination-bullet-inactive-color, #000);
	opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
	border: 3px solid white;
	padding: 3px;
	background: transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: transparent;
	padding: 3px;
	border: 3px solid transparent;
	background-color: $main-colour-3;
}

.swiper-button-next,
.swiper-button-prev {
	color: white !important;
}

/**
React-swiper styling
*/
