@import 'styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6em;
	padding: 8em 0;

	.header {
		display: flex;
		gap: 2em;
		flex-direction: column;
		align-items: center;

		& h1 {
			color: $main-colour-2;
			font-family: Fauna;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 3.8rem;
			letter-spacing: 0.04em;
		}
		& p {
			color: white;
			margin: 0;
			color: whitesmoke;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1.8rem;
			letter-spacing: 0.04em;
		}
	}

	.body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4em;
		padding: 0 2em;
	}

	@media (max-width: 1200px) {
		.body {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 750px) {
		.body {
			grid-template-columns: 1fr;
		}
	}

	@media (max-width: 600px) {
		.container {
			padding: 10em 0.5em;
		}

		.body {
			padding: 0 0.5em;
		}

		.header {
			& p {
				text-align: center;
			}
		}
	}
}
