@import 'styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4em;
	padding: 8em 0;

	& .header {
		display: flex;
		flex-direction: column;
		align-items: center;

		& h1 {
			font-size: 3rem;
			color: $main-colour-2;
		}
		& p {
			font-size: 1.2rem;
			color: white;
			margin: 0;
		}
	}

	& .body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4em;
		padding: 4em 2em;
	}

	@media (max-width: 1200px) {
		.body {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 750px) {
		.body {
			grid-template-columns: 1fr;
		}
	}
}
