@import 'styles/variables.module.scss';

.container {
	width: 100%;
	margin: 64px 0;
	padding: 32px;
	box-shadow: 0 0 0.04rem 0 rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	background: rgba(52, 73, 94, 0.45);
	//background: $gradient-background-colour-1;
	overflow: hidden;
	color: whitesmoke;

	& h1 {
		font-family: Fauna;
		text-transform: uppercase;
		//color: $secondary-colour-1;
		color: $main-colour-2;
	}
}

.container::before {
	content: '';
	background: inherit;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
	filter: blur(5px);
}

.skills_wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
	color: whitesmoke;

	& .skills_category {
		padding: 22px;
		box-shadow: 0 0 0.04rem 0 rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		//background-color: rgba(52, 73, 94, 0.45);
		//background: rgba(255, 255, 255, 0.4);
		background: $gradient-background-colour-1;

		& h2 {
			font-size: 20px;
			text-transform: capitalize;
		}
		& p {
			font-size: 16px;
			text-align: justify;
			text-justify: inter-word;
			color: whitesmoke;
		}
	}

	& .skills_item__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: stretch;
		gap: 40px;
		font-size: 32px;
		color: whitesmoke;
		padding-top: 16px;

		& .skills_item__tooltip {
			position: relative;
			display: flex;
			//align-items: flex-start;
			justify-content: center;
		}

		& .skills_item__tooltip .skills_item__tooltiptext {
			visibility: hidden;
			background-color: rgba(0, 0, 0, 0.4);
			color: whitesmoke;
			text-align: center;
			border-radius: 5px;
			padding: 5px;
			margin-top: 40px;

			/* Position the tooltip */
			position: absolute;
			border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
			z-index: 1;
		}

		& .skills_item__tooltip .skills_item__tooltiptext::after {
			content: '';
			position: absolute;
			bottom: 100%; /* At the top of the tooltip */
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
		}

		& .skills_item__tooltip:hover .skills_item__tooltiptext {
			visibility: visible;
		}
	}
}

@media (max-width: 1200px) {
	.skills_wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 850px) {
	.skills_wrapper {
		grid-template-columns: 1fr;
	}
}
