$main-colour-1: #232a2f;
$main-colour-2: #ffc401;
$secondary-colour-1: #fb5607;
$secondary-colour-2: #8338ec;
$secondary-colour-3: #ff006e;
$secondary-colour-4: #3a86ff;
$secondary-colour-5: #ffbe0b;
